[run]
source =
    database
    scheduler
    fetcher
    processor
    result
    libs

[report]
omit =
    libs/sample_handler.py
    libs/pprint.py

exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    if settings.DEBUG
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    except ImportError:
    pass
