amqp==1.4.9
cfscrape==1.6.8
chardet==2.3.0
click==6.7
cssselect==1.0.1
elasticsearch==5.1.0
Flask==0.12
Flask-Login==0.4.0
itsdangerous==0.24
Jinja2==2.9.4
Js2Py==0.43
kombu==4.0.2
linecache2==1.0.0
lxml==3.7.2
MarkupSafe==0.23
mysql-connector-python-rf==2.2.1
pika==0.10.0
psycopg2==2.6.2
pycurl==7.43.0
pyjsparser==2.4.5
pymongo==3.4.0
pyquery==1.2.17
pytz==2016.10
redis==2.10.5
requests==2.13.0
six==1.10.0
SQLAlchemy==1.1.5
tblib==1.3.0
tornado==4.4.2
traceback2==1.4.0
tzlocal==1.3
u-msgpack-python==2.3.0
unittest2==1.1.0
urllib3==1.20
Werkzeug==0.11.15
wheel==0.24.0
