Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.18
Werkzeug==0.9.4
backports.ssl-match-hostname==3.4.0.2
chardet==2.2.1
cssselect==0.9.1
itsdangerous==0.23
lxml==3.3.2
pycurl==7.19.3.1
pyquery==1.2.8
requests==2.2.1
tornado==3.2
